@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
body {
  margin: 0px;
  padding: 0px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #535252;
  flex-direction: row;
  width: 100%; }

li {
  float: left; }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif; }
  li li a:hover {
    background-color: #111;
    color: white; }

.navbar-collapse {
  z-index: 100; }

.container-fluid {
  padding: 0%;
  background-color: #535252;
  height: 52px; }
  .container-fluid button {
    padding: 0%;
    background-color: silver;
    height: 42px;
    width: 55px; }

.navbar {
  padding: 0% 0%; }

#f {
  grid-area: f;
  text-align: center;
  font-size: 10px; }

#footerCyT {
  grid-area: footerCyT;
  font-size: 10px; }

#footerContacto {
  grid-area: footerContacto;
  font-size: 10px; }

#footerGaleria {
  display: grid !important;
  grid-area: footerGaleria !important;
  font-size: 10px; }

#footerParques {
  display: grid !important;
  grid-area: footerParques !important;
  font-size: 10px; }

.titulares {
  text-align: center !important;
  align-self: center !important;
  width: 90%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important; }

.centrar-fotos {
  text-align: center; }

.formulario {
  font-family: 'Oswald', sans-serif;
  font-size: 25px; }

#titleHome {
  grid-area: h; }

#titleHome h1 {
  font-size: 6vw; }

#tituloGaleria {
  grid-area: tituloGaleria;
  font-size: 6vw; }

#tituloParques {
  grid-area: tituloParques;
  font-size: 6vw; }

#m1 {
  grid-area: m1; }

#m2 {
  grid-area: m2; }

#m3 {
  grid-area: m3; }

#cine1 {
  grid-area: cine1;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#cine2 {
  grid-area: cine2;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#cine3 {
  grid-area: cine3;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#cine4 {
  grid-area: cine4;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#cine5 {
  grid-area: cine5;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#cine6 {
  grid-area: cine6;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#cine7 {
  grid-area: cine7;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#teatro1 {
  grid-area: teatro1;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#teatro2 {
  grid-area: teatro2;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#teatro3 {
  grid-area: teatro3;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#teatro4 {
  grid-area: teatro4;
  background: linear-gradient(to bottom, #c9c9c9, #3f3e3f); }

#galeria {
  grid-area: Galeria !important;
  width: 800px;
  height: 100%; }

.w-100 {
  height: 600px !important;
  width: 800px !important; }

#carouselExampleIndicators2 {
  margin-top: 5%; }

.cine {
  display: flex;
  height: 350px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px; }
  .cine img {
    width: 18%;
    height: 100%; }

/*moviles*/
@media screen and (max-width: 440px) {
  .propiedadesGrid, #gridHomePage, #cinesYteatros, #contactoGrid {
    justify-items: center;
    align-items: center;
    justify-content: space-around; }
  /*home page*/
  #gridHomePage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 700px 700px 700px 100px;
    grid-template-areas: "h" "m1" "m2" "m3" "f"; }
  header {
    height: auto; }
  ul {
    flex-direction: column; }
  li {
    float: none; }
  /*cine y teatros*/
  #cinesYteatros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1700px 1700px 1700px 1700px 1700px 1700px 1700px 1700px 1700px 1700px 1700px 100px;
    grid-template-areas: "titleCine"  "cine1" "cine2" "cine3" "cine4" "cine5" "cine6" "cine7" "teatro1" "teatro2" "teatro3" "teatro4" "footerCyT";
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background: #c9c9c9; }
  .cine {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .cine img {
      width: 80%;
      height: 100%;
      padding-bottom: 10px; }
  /*contacto*/
  #contactoGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 300px 100px;
    grid-template-areas: "titloContacto" "formulario" "footerContacto"; }
  /*galeria*/
  #galeriaGrid {
    display: flex;
    flex-direction: column;
    justify-items: center !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background: #c9c9c9 !important; }
  #galeria {
    grid-area: Galeria !important;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
  .w-100 {
    height: 200px !important;
    width: 300px !important; } }

/*pantallas medias*/
@media only screen and (min-width: 441px) and (max-width: 576px) {
  header {
    height: auto; }
  ul {
    flex-direction: column; }
  li {
    float: none; }
  /*home page*/
  #gridHomePage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 700px 700px 700px 100px;
    grid-template-areas: "h" "m1" "m2" "m3" "f";
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px; }
  /*cine y teatros*/
  #cinesYteatros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1000px 1000px 1000px 1000px 1000px 1000px 1000px 1300px 1300px 1300px 1300px 100px;
    grid-template-areas: "titleCine"  "cine1" "cine2" "cine3" "cine4" "cine5" "cine6" "cine7" "teatro1" "teatro2" "teatro3" "teatro4" "footerCyT";
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background: #c9c9c9; }
  #tituloCineYTeatros {
    grid-area: titleCine; }
  .cine {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: row; }
    .cine img {
      width: 30%;
      height: 100%;
      margin: 20px; }
  /*contacto*/
  #contactoGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 450px 100px;
    grid-template-areas: "titloContacto" "formulario" "footerContacto";
    justify-items: center;
    align-items: center;
    justify-content: space-around; }
  /*galeria*/
  #galeriaGrid {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 150px 700px 100px !important;
    grid-template-areas: "tituloGaleria" "Galeria" "footerGaleria" !important;
    justify-items: center !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background: #c9c9c9 !important; }
  #galeria {
    grid-area: Galeria !important;
    width: 400px;
    height: 100%; }
  .w-100 {
    height: 300px !important;
    width: 400px !important; } }

/*tamanio medias-grandes*/
@media only screen and (min-width: 500px) {
  /*cine y teatros*/
  #cinesYteatros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 900px 900px 900px 900px 900px 900px 900px 900px 900px 900px 900px 100px;
    grid-template-areas: "titleCine"  "cine1" "cine2" "cine3" "cine4" "cine5" "cine6" "cine7" "teatro1" "teatro2" "teatro3" "teatro4" "footerCyT";
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background: #c9c9c9; } }

@media only screen and (min-width: 600px) {
  /*home page*/
  #gridHomePage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 700px 700px 700px 100px;
    grid-template-areas: "h" "m1" "m2" "m3" "f";
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px; }
  /*cine y teatros*/
  #cinesYteatros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1100px 1100px 1100px 1100px 1100px 1100px 1100px 900px 900px 900px 900px 100px;
    grid-template-areas: "titleCine"  "cine1" "cine2" "cine3" "cine4" "cine5" "cine6" "cine7" "teatro1" "teatro2" "teatro3" "teatro4" "footerCyT";
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background: #c9c9c9; }
  .cine {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: row; }
    .cine img {
      width: 30%;
      height: 60%;
      margin: 20px; }
  #contactoGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 450px 100px;
    grid-template-areas: "titloContacto" "formulario" "footerContacto";
    justify-items: center;
    align-items: center;
    justify-content: space-around; } }

@media only screen and (min-width: 700px) {
  /*home page*/
  #gridHomePage {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 150px 750px 100px;
    grid-template-areas: "h h h" "m1 m2 m3" "f f f";
    justify-items: center;
    align-items: center;
    justify-content: space-between; }
  /*cine y teatros*/
  #cinesYteatros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 900px 900px 900px 900px 900px 900px 900px 900px 900px 900px 900px 100px;
    grid-template-areas: "titleCine"  "cine1" "cine2" "cine3" "cine4" "cine5" "cine6" "cine7" "teatro1" "teatro2" "teatro3" "teatro4" "footerCyT";
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background: #c9c9c9; }
  .cine {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: row; }
    .cine img {
      width: 25%;
      height: 50%;
      margin: 20px; }
  /*galeria*/
  #galeriaGrid {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 150px 1100px 100px !important;
    grid-template-areas: "tituloGaleria" "Galeria" "footerGaleria" !important;
    justify-items: center !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background: #c9c9c9 !important; }
  #galeria {
    grid-area: Galeria !important;
    width: 600px;
    height: 100%; }
  .w-100 {
    height: 500px !important;
    width: 600px !important; } }

/*pantallas grandes*/
@media only screen and (min-width: 992px) {
  /*home page*/
  #gridHomePage {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 150px 750px 100px;
    grid-template-areas: "h h h" "m1 m2 m3" "f f f";
    justify-items: center;
    align-items: center;
    justify-content: space-between; }
  #img1 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  /*pagina cine y teatros*/
  #cinesYteatros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 600px 600px 600px 600px 600px 600px 600px 500px 500px 500px 500px 100px;
    grid-template-areas: "titleCine"  "cine1" "cine2" "cine3" "cine4" "cine5" "cine6" "cine7" "teatro1" "teatro2" "teatro3" "teatro4" "footerCyT";
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    background: #c9c9c9; }
  #tituloCineYTeatros {
    grid-area: titleCine;
    font-size: 6vw; }
  .cine {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 30px; }
    .cine img {
      width: 14%;
      height: 50%;
      margin: 20px; }
  #contactoGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 500px 100px;
    grid-template-areas: "titloContacto" "formulario" "footerContacto";
    justify-items: center;
    align-items: center;
    justify-content: space-around; }
  #galeriaGrid {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 150px 1100px 100px !important;
    grid-template-areas: "tituloGaleria" "Galeria" "footerGaleria" !important;
    justify-items: center !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background: #c9c9c9 !important; }
  #galeria {
    grid-area: Galeria !important;
    width: 800px;
    height: 100%; }
  .w-100 {
    height: 500px !important;
    width: 800px !important; }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535252;
    flex-direction: row;
    width: 100%; }
  li {
    float: left; }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif; }
    li a:hover {
      background-color: #111;
      color: white; }
  /*parques*/
  #parquesGrid {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 150px 900px 100px !important;
    grid-template-areas: "tituloParques" "Parques" "footerParques" !important;
    justify-items: center !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background: #c9c9c9 !important; } }

.ZoomImg {
  transform: scale(1, 1);
  transition: .5s; }

.ZoomImg:hover {
  transform: scale(1.05, 1.05);
  transition: .5s; }

@keyframes animacionZoom {}
