body{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: $colorFondoMain;
}

.titulares{
    text-align: center !important;
    align-self: center !important;
    width: 90%;
    font-family: $fontFamilyAll !important;
}

.centrar-fotos{
    text-align: center;
}

.formulario {
    font-family: $fontFamilyAll;
    font-size: 25px;
}


.w-100{
    height: 600px !important;
    width: 800px !important;
}

#carouselExampleIndicators2{
    margin-top: 5%;
}

.cine{
    display: flex;
    height: 350px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;

    img{
    width: 18%;
    height: 100%;
    }
}