@import 'varAndMixin.scss';

.propiedadesFooter{
    text-align: center;
    font-size: $fontSizeFooter;
    background-color: $colorFondoNavegador;
    color: white;
    width: 100%;
    padding: 15px 0px;

    a{
        color: black;
    }
}

#f{
    @extend .propiedadesFooter;
}

#footerCyT{
    @extend .propiedadesFooter;
}

#footerContacto{
    @extend .propiedadesFooter;
}

#footerGaleria{
    @extend .propiedadesFooter;
}

#footerParques{
    @extend .propiedadesFooter;
}